# Local .terraform directories and files
**/.terraform/*
.terraform*

!.terraformrc

# .tfstate files
*.tfstate
*.tfstate.*
authorized_key.json
terraform.tfvars
# own secret vars store.
personal.auto.tfvars